<div class="mainContainer" id="mainContainer">

    <p>{{inputFileName}}</p>

    <div class="container">
        <div id="buttonContainer">
            <button (click)="uploadTranscriptFile()">Transcript</button>
            <img src="assets/img/folder.png">
        </div>

        <div id="buttonContainer">
            <button (click)="continueScratch()">New</button>
            <img src="assets/img/paper-pen-icon.png">
        </div>

        <div id="buttonContainer">
            <button (click)="uploadStudentObjectFile()">Student Object</button>
            <img src="assets/img/apple.png">
        </div>
        
        <div id="buttonContainer">
            <button (click)="continue()">Submit</button>
            <img src="assets/img/download.png">
        </div>
    </div>

</div>

<input style="display: none;" id="fileInput" type="file"/>