.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    padding: 5px;
    justify-content: flex-start;
}

.toolbar {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    flex-grow: 1;
    height: fit-content;
    width: fit-content;
    padding-right: 10%;
    justify-content: flex-start;
    row-gap: 5em;
}

.degreePlan-editor {
    flex-basis: 75%;
    flex-grow: 2; 
    height: fit-content;
    padding-right: 2em;
}

#btn1 {
    font-size: large;
    width: 100%;
}

#btn2 {
    font-size: large;
    width: 100%;
}

.radio_inputs {
    display: flex;
    flex-direction: row;
    width: 120%;
}