.container {
    background: linear-gradient(14deg,white,grey);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
}

.toolbar {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    flex-grow: 1;
    height: fit-content;
    padding-right: 10%;
    justify-content: flex-start;
    row-gap: 5em;
}

.audit-editor {
    flex-basis: 75%;
    flex-grow: 2; 
    height: fit-content;
    padding-left: 10%;
}

/*
.degreePlan-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.degreePlan-input select {
    height: fit-content;
    width: fit-content;
}

.name-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.name-input td {
    width: 20em;
    height: 1em;
    border: 1px solid black;
} */

/* .container {
    background: linear-gradient(14deg,white,grey);
    display: -webkit-box;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width:-webkit-fill-available;;  
    position: absolute;
    height: 105.5vh
} */

/* .toolbar {
    height: fit-content;
    float: right;
    display: grid;
    padding-right: 5px;
} */

/* .audit-editor {
    height: fit-content;
    width: 100%;
    display: contents;
    position: relative;
} */
/* div#ht_0031b18c167b438a.handsontable{
    height: auto;
    overflow: hidden;
    
}
div.wtHolder{
    position: relative;
    height: auto;
    width: 595px;
    display: contents;
    background: linear-gradient(14deg,white,grey);
}
div.wtHider{
    display: contents;
    background: linear-gradient(14deg,white,grey);
} */

#btn1 {
    float: left;
    margin-left: 15px;
    font-size: large;
}

#btn2 {
    float: right;
    margin-right: 50px;
    font-size: large;
}