<div class="container">

    <div class="toolbar">
        <div id="selector">
            <label for="degree-plan" id="label_id">Degree Plan </label>
            <select #degreeTracks (change)="onSelectedDegreePlan(degreeTracks.value)">
                <option *ngFor="let plan of degreePlans" value={{plan}}>{{plan}}</option>
            </select>
        </div>
        <div id="major-box">
            <label>Major </label>
            <input type="text" placeholder="selectedMajor" [(ngModel)]="selectedMajor"/>
        </div>

        <div id="name-box">
            <label>Student Name </label>
            <input type="text" [(ngModel)]="studentName" />
        </div>

        <div id="id-box">
            <label>Student ID Number </label>
            <input type="number" [(ngModel)]="studentId" />
            <p>(*** numbers only ***)</p>
        </div>

    <!--FORM 1-->    
        <div class="radio_inputs">
            <p id="Fast-Track">Student is Fast Track</p>
            <ul id="list1">
                <li>
                    <input type="radio" 
                           id="yes_ft"
                           name="selector1"
                           value="Y" />
                    <label for="yes_ft">Yes</label>

                    <div class="check"></div>
                </li>

                <li>
                    <input type="radio" 
                           id="no_ft"
                           name="selector1" 
                           value="N" />
                    <label for="no_ft">No</label>

                    <div class="check">
                        <div class="inside"></div>
                    </div>
                </li>
            </ul>
        </div>

        <br>

        <!--FORM 2-->
        <div class="radio_inputs2">
            <p id="Fast-Track">Student is Pursuing Thesis</p>
            <ul id="list2">
                <li>
                    <input type="radio" 
                           id="yes_thesis" 
                           name="selector2" 
                           value="Y" />
                    <label for="yes_thesis">Yes</label>

                    <div class="check"></div>
                </li>

                <li>
                    <input type="radio" 
                           id="no_thesis" 
                           name="selector2"
                           value="N" />
                    <label for="no_thesis">No</label>

                    <div class="check">
                        <div class="inside"></div>
                    </div>
                </li>
            </ul>
        </div>
<div id="fiveElectives">
        <h3 id="approved">Five Approved Electives</h3>
        <div id="elective_selector">
            <select #electiveSelect (change)="onSelectedElective(electiveSelect.value)">
                <option *ngFor="let elective of electives" value={{elective.number}}>{{elective.name}} {{elective.number}}</option>
            </select>
            <p id="pid1" *ngFor="let selectedElective of selectedElectives" (click)="removeElective(selectedElective)">{{selectedElective.name}} {{selectedElective.number}}</p>
        </div>
</div>
<div id="threeElectives">
        <h3 id="additional">Three Additional Electives</h3>
        <div id="additionalElective_selector">
            <select #addElectiveSelect (change)="onSelectedAddElective(addElectiveSelect.value)">
                <option *ngFor="let elective of electives" value={{elective.number}}>{{elective.name}} {{elective.number}}</option>
            </select>
            <p id="pid2" *ngFor="let selectedElective of selectedAddElectives" (click)="removeAddElective(selectedElective)">{{selectedElective.name}} {{selectedElective.number}}</p>
        </div>
</div>

        <button id="btn1" (click)="confirmBack()">Back</button>
        <button id="btn2" (click)="confirmSaveStudentObject()">Save Student Object</button>
        <button id="btn3" (click)="confirmSavePDF()">Submit</button>
    </div>

    <degreePlan-editor (preloadDataChange)="updateDegreePlanData($event)" class="degreePlan-editor" 
        [selectedDegreePlan]="selectedDegreePlan" [selectedMajor]="selectedMajor"
        [studentName]="studentName" [studentId]="studentId" [electives]="selectedElectives" 
        [addElectives]="selectedAddElectives" [admitSem]="admitSem" [gradSem]="gradSem" 
        [importedClassData]="importedClassData">
    </degreePlan-editor>

</div>