<div class="container">

    <div class="toolbar">
        <div>
            <label for="degree-plan" id="label_id">Degree Plan </label>
            <select #degreeTracks (change)="onSelectedDegreePlan(degreeTracks.value)">
                <option *ngFor="let plan of degreePlans" value={{plan}}>{{plan}}</option>
            </select>
        </div>

        <h3>Student Info</h3>
        <div>
            <label>Student Name </label>
            <input type="text" [(ngModel)]="studentName"/>
        </div>

        <div>
            <label>Student ID Number </label>
            <input type="text" [(ngModel)]="studentId"/>
        </div>

        <div>
            <label>Semester Admitted: </label>
            <input type="text" [(ngModel)]="admitSem"/>
        </div>

        <div>
            <label>Anticipated Graduation: </label>
            <input type="text" [(ngModel)]="gradSem"/>
        </div>

        <div class="radio_inputs">
            <div>
                <p>Student is Fast Track </p>
                <input type="radio" id="yes_ft" name="is_ft" value="y"/>
                <label for="yes_ft">Yes</label><br>
                <input type="radio" id="no_ft" name="is_ft" value="n"/>
                <label for="no_ft">No</label>
            </div>
            <br>
            <div>
                <p>Student is Pursuing Thesis </p>
                <input type="radio" id="yes_thesis" name="is_thesis" value="y"/>
                <label for="yes_ft">Yes</label><br>
                <input type="radio" id="no_thesis" name="is_thesis" value="n"/>
                <label for="no_ft">No</label>
            </div>
        </div>

        <h3>Electives</h3>
        <div class="elective_selector">
            <select #electiveSelect (change)="onSelectedElective(electiveSelect.value)">
                <option *ngFor="let elective of electives" value={{elective.name}}>{{elective.name}} {{elective.number}}</option>
            </select>
            <p *ngFor="let selectedElective of selectedElectives" (click)="removeElective(selectedElective.name)">{{selectedElective.name}}</p>
        </div>

        <button id="btn1" (click)="confirmBack()">Back</button>
        <button id="btn2" (click)="confirmSave()">Submit</button>
        <button (click)="testIPC()">Test IPC</button>
        <button (click)="uploadTranscriptFile()">Upload Transcript</button>
    </div>

    <degreePlan-editor (preloadDataChange)="updateDegreePlanData($event)" class="degreePlan-editor" [selectedDegreePlan]="selectedDegreePlan" [studentName]="studentName" [studentId]="studentId"
        [electives]="selectedElectives" [admitSem]="admitSem" [gradSem]="gradSem"></degreePlan-editor>
</div>
